
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(194, 243, 243);
}

.designCard{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #9bf5dd, #a294fa);
    color:rgb(230, 238, 238);
    margin: 100px auto 0;
    border-radius: 245px;
    padding: 40px 35px;
    text-align: center;
}

.searchCity{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchCity input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.searchCity button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.searchCity button img{
    width: 25px;
}